* {
  box-sizing: border-box;
}

html {
  background-color: #ffb8e8;

  /* colours are hard :sob: */
  /* background-color: #feafd6; */
  /* color: #5c357c */
}

body {
  padding: 10px;
  display: block
}

#page_header {
  text-align: center;
  display: block;
}

.title {
  /* display: block; */
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.subtitle {
  padding-top: -10px;
}

#content {
  max-width: 990px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  position:relative
}

#c0src {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
  font-weight: normal;
}

.console {
  font-family: "Lucida Console", "Courier New", monospace;
  /* font-size: 15px; */
  font-weight: normal;
}

.compile_src {
  float: left;
  /* width: 60%; */
  padding: 10px;
}

.compile_config {
  float: left;
  /* width: 40%; */
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#infodump {
  width: auto;
  margin-left:10px;
  font-size: 1.15em;
  word-wrap: break-word;
}
